.DS_Store
LingoPartnerDomain/obj/Debug/net8.0/**    
LingoPartnerApi/obj/LingoPartnerApi.csproj.*.*.*
LingoPartnerApi/obj/**
LingoPartnerApi/obj/LingoPartnerApi.csproj.*.*.*
LingoPartnerDomain/LearningActivityTypeENUM.cs
**/bin/**
